/*Body*/
.main-body {
    width: 100%;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: margin-left .5s;
}

body {
    background: #f6f7f9;
    font-family: 'Inter', system-ui, sans-serif;
    color: #333;
  }
  
  .app-container {
    display: flex;
  }
  
  .main-body {
    flex: 1;         /* take the remaining width */
    padding: 2rem;   /* breathing room */
  }
  
