.project-name {
    position: fixed;
    top: 30px;
    left: 270px;
    font-size: 1.4rem;
    opacity: 0.7;
    transition: 0.5s;
}
.my-project-title svg {
    position: absolute;
    left: 190px;
    top: 10px;
    width: 25px;
    height: 20px;
    z-index: 1;
}
